

@font-face { font-family: Roboto; src: url('../assets/font/Roboto-Medium.ttf'); } 

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
    
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-10%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
    
  }

:root {
    --background-color : #ffd;
    --background-color-hover : #eec;
    --dark-background-color : #011120;
    --primary-color : rgb(223, 183, 149);
    --primary-color-light  : #ffffdd;
    --secondary-color  : #aa5a18;
    --secondary-color-light  : #aa5500;
    --title-color : #222222;
    --title-color-light : #cccccc;
    --link-color : #cd8573;
    --link-color-hover : #810000;
    --error-color : #ff0000;
    --footer-background : #222220;
    --animation-duration : 400ms;
}

body
{
    margin: 0 !important;
    padding: 0 !important;
    font-family: Roboto;
    background-color: var(--background-color);
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--link-color);
    transition-duration: var(--animation-duration);
}
a:hover{
    text-decoration: none;
    color: var(--link-color-hover);
}

p{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}


button{
    background-color: var(--primary-color); 
    border: 1px solid var(--secondary-color) ;
    color: var(--secondary-color) ;
    padding: 10px 32px;
    margin: 5px;
    border-radius: 5px;
    transition-duration: var(--animation-duration);
}

button:hover{
    background-color: var(--primary-color); 
    border: 1px solid var(--secondary-color-light) ;
    color: var(--secondary-color-light) ;
    cursor: pointer;
}

button:active{
    background-color: var(--primary-color); 
    border: 1px solid var(--secondary-color) ;
    color: var(--secondary-color) ;
    cursor: pointer;
}

.button {
    /* Basic button styles */
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid var(--secondary-color) ;
    border-radius: 5px;
    
    /* Text styles */
    color: var(--secondary-color) ;
    text-decoration: none; /* Removes the underline */
    text-align: center;
    
    /* Hover effect */
    background-color: var(--primary-color); 
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-color); 
    border: 1px solid var(--secondary-color-light) ;
    color: var(--secondary-color-light) ;
}

input{
    margin: 5px;    
    background-color: var(--primary-color); 
    border: 1px solid var(--primary-color) ;
    color: var(--primary-color-light) ;
    padding: 10px;
    border-radius: 5px;
}

input::placeholder{
    color: var(--primary-color-light) ;

}

textarea{
    margin: 5px;    
    background-color: var(--primary-color); 
    border: 1px solid var(--primary-color) ;
    color: var(--primary-color-light) ;
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    min-width: 350px;
    height: 150px;
}
textarea::placeholder{    
    color: var(--primary-color-light) ;
}

select{
    margin: 5px;    
    background-color: var(--primary-color); 
    border: 1px solid var(--secondary-color) ;
    color: var(--primary-color-light) ;
    padding: 10px;
    border-radius: 5px;
}
.pointer{
    cursor: pointer;
}


.logo{
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

.logo img{
    border-radius: 10px;
    height: 300px;
    animation: 500ms ease 0s 1 slideInFromLeft;
}

.footer{
    background-color: var(--footer-background);
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
    display : flex;
}

.footer-block{
    min-width: 25%;
    text-align: center;
    color: var(--background-color);
    flex-basis: 50%;
}

.footer-option {
    text-align: center;
    color: var(--link-color);
    transition-duration: var(--animation-duration);
}

.footer-option:hover {
    text-align: center;
    color: var(--link-color-hover);
    cursor: pointer;
}


.logo{
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

.logo img{
    //background-color: var(--primary-color);
    
    border-radius: 10px;
    height: 300px;
    animation: 500ms ease 0s 1 slideInFromLeft;
}

.menu{
    background-color: var(--footer-background);
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}
.menu-label{
    margin-right: 25px;
    height: 30px;
    text-align: center;
}

.menu-logo{
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}


.center{
    text-align: center;
}

@media screen and (max-width: 500px) {
    
    .footer{
        display : block;
    }
    textarea{
        min-width: 90%;
    }

}


@media screen and (max-width: 900px) {
    
    .centered-container {
        display: block;
        margin: auto;
        text-align: center;
    }
    .text-and-button-group {
        display: block;
    }
}